* {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}
.me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: 2rem;
  height: 23px;
}
.mine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 1rem;
}
.describe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;

}

.hand-icon {
  display: flex;
  position: absolute;
  color: violet;
  margin-top: 7rem;
  justify-content: center;
}
.container2 {
  display: flex;

  height: 80vh;
  margin-top: 2.2rem;
  /* background-color: salmon; */
}
.card1 {
  display: block;
  width: 70vh;
  height: 70vh;
  
  margin: 1rem 1rem;
  margin-left: 14rem;
  background-color:#2d2e37;
}
.card2 {
  display: flex;
  position: relative;
  width: 70vh;
  height: 70vh;
  margin: 1rem -3.5rem;
  /* background-color: rgb(119, 103, 119); */
}
.main-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 1.8rem;
}
.sec-card {
  display: block;
  background-color: #2d2e37;
  margin: 0rem 3.5rem;
  height: 32vh;
  width: 28vh;
}

.sec-card1 {
  display: block;
  background-color: #2d2e37;
  margin: 0rem 5rem;
  height: 32vh;
  width: 28vh;
}
.sec-card2 {
  display: block;
  background-color:#2d2e37;
  margin: 0rem 3.5rem;
  height: 32vh;
  width: 28vh;
}
.sec-card3 {
  display: block;
  margin: 0rem 5rem;
  height: 32vh;
  width: 28vh;
  background-color: #2d2e37;
} 
.about1{
  margin-top: 1.7rem;
  margin-left: 3.8rem;
  color: green;
}

.extra{
  color: salmon;
  margin-top: 4rem;
  margin-left: 4rem;
  font-size: 70px;
}
.line{
  height: 1.3vh;
  width: 28vh;
  background-color: blue;
  margin-top: 1.7rem;
}
